.fade-enter {
  opacity: 0;
  transform: scale(0.95); /* Giriş sırasında hafif küçültülmüş görünüm */
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease, transform 500ms ease; /* Geçiş süresi ve efekti */
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95); /* Çıkış sırasında hafif küçültülmüş görünüm */
  transition: opacity 500ms ease, transform 500ms ease;
}
